.navbar {
  background-color:#132257;
  border-color:#132257;
}

.navbar-brand {
  color:white!important;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.active>a, 
a.dropdown-toggle:hover {
  background-color: #132257 !important;
}